{% from "user/_formhelpers.html" import password %} 
<div class="col-md-2"></div> 
    <div class="col-md-8 order-md-1">
      
      <h4 class="mb-3">Ваши данные</h4>
      {% if request.path == "/user/regisration" %} 
        <form action="{{ url_for('regisration') }}"  method = "POST" class="needs-validation">
      {%else%}
        <form action="{{ url_for('userProfile') }}"  method = "POST" class="needs-validation">  
      {% endif %} 
          {{ form.hidden_tag() }}
        <div class="row">
          <div class="col-md-5 mb-3">
            <label>Имя*</label>
            {{ render_field(form.Name,Profile.name)}}
          </div>
          <div class="col-md-5 mb-3">
            <label>Фамилия*</label>
            {{ render_field(form.Sername,Profile.sername) }}
          </div>
		   <div class="col-md-2 mb-3">
            <label>Возвраст</label>
            {{ render_field(form.age,Profile.age) }}
          </div>
        </div>
        <div class="mb-3">
          <label>Имя пользователя*</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">=></span>
            </div>
       
            {% if User.username ==""%}
            {{form.user_name()}}
            {%else%}
            {{form.user_name(value=User.username)}} 
            {%endif%}
          </div>
        </div>
        <dd>
        {% if form.user_name.errors %}
        <ul class=errors>
        {% for error in form.user_name.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
       {% endif %} 
       </dd>
       <div class="mb-3">
         {%if TelegramChat.id%}
          <label>Чат в телеграм</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span> <span class="input-group-text">{{TelegramChat.id}}</span>
            </div>
          </div>
          {%else%}
          <label>Чат в телеграм</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Введите пароль, полученный у бота</span>
              <input class="form-control"  id="telegram" name="telegram" placeholder="telegram"  type="text">
            </div>
          </div> 
          
          {%endif%}
        </div>
        <div class="mb-3">
          <label for="email">Email*</label>

          {{ render_field(form.email,User.email) }}
          
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label>Страна</label>
            <select class="custom-select d-block w-100" id="country">
              <option value="{{Profile.country}}">Выбрать...</option>
              <option>Россия</option>
			  <option>Казахстан</option>
            </select>
            
          </div>
          <div class="col-md-4 mb-3">
            <label for="city">Город</label>
            <select class="custom-select d-block w-100" id="city">
              <option value="{{Profile.city}}">Выбрать...</option>
              <option>Екатеринбург</option>
			  <option>Алматы</option>
            </select>
          </div>
        </div>
 

        <h4 class="mb-3">Пол</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="man" name="gender" type="radio" value="false" class="custom-control-input" {%if Profile.isWoman==False%}checked{%endif%} required>
            <label class="custom-control-label" for="man">Мужской</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="woman" name="gender" value="true" type="radio" class="custom-control-input" {%if Profile.isWoman%}checked{%endif%} required>
            <label class="custom-control-label" for="woman">Женский</label>
          </div>
        </div>
        <hr class="mb-4">
        {% if request.path == "/user/regisration" %} 
            {{ password(form,"new") }}
        {%else%}
            {{ password(form,"old") }}
          
        {% endif %}
        
     
      </form>
      <hr class="mb-4">
    <div class="mb-1">
    "*" – поля обязательные к заполнению
    </div>
    </div>
    
    </div>